.carousel-with-custom-dots {
    padding-bottom: 30px;
}

@media only screen and (max-width: 900px) {
    .carousel-with-custom-dots {
        padding-bottom: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .carousel-with-custom-dots {
        padding-bottom: 80px;
    }
}
@media only screen and (max-width: 6px) {
    .carousel-with-custom-dots {
        padding-bottom: 40px;
    }
}
@media only screen and (max-width: 500px) {
    .carousel-with-custom-dots {
        padding-bottom: 30px;
    }
}
@media only screen and (max-width: 400px) {
    .carousel-with-custom-dots {
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 360px) {
    .carousel-with-custom-dots {
        padding-bottom: 10px;
    }
}
@media only screen and (max-width: 330px) {
    .carousel-with-custom-dots {
        padding-bottom: 5px;
    }
}
@media only screen and (max-width: 300px) {
    .carousel-with-custom-dots {
        padding-bottom: 2px;
    }
}

.react-multiple-carousel__arrow {
    z-index: 10;
}

.react-multi-carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

